body {
    background-color: whitesmoke;
}

/* Sign and login style */
.register-form {
    width: 340px;
    margin: 50px auto;
}
.register-form form {
    margin-bottom: 15px;
    background: #ffffff;
    border: 1px solid #f7f7f7;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
    padding: 30px;
}
.register-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

/* Confirmation page */
.text-white {
    color:#ffffff !important;
}
.bg-white {
    background-color: white !important;
}
.bg-transparent {
    background-color: transparent !important;
}
.bg-smoke {
    background-color: whitesmoke !important;
}

.wrapper {
    width: 100%;
    padding:0px;
    margin:auto;
    display: block;  
}
.wrapper-head {
    padding: 0px 0px 40px 0px;
    background-color: #0161CD;
    color: white;
}
.w-300 {
    max-width: 400px;
    margin:auto;
}
.w-full {
    max-width: 100vh;
}
.wrapper .content {
    width: 400px;
    margin:auto;
    margin-top: 10px;
    padding: 20px 0px;
    background-color: white;
    box-shadow: 1px 3px 7px 3px rgba(220,220,220,0.75);
-webkit-box-shadow: 1px 3px 7px 3px rgba(220,220,220,0.75);
-moz-box-shadow: 1px 3px 7px 3px rgba(220,220,220,0.75);
}
.motion-image {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

/* Custom chat message */
.chat-text {
    min-width: 100px;
    /* border: 1px solid #7e7e77; */
    display: block;
}
.chat {
    width: 100%;
    margin: auto;
    display: block;
}
.chat-text p {
    margin: 0px;
    padding:0px;
}
.chat-left {
    border-radius: 10px;
    padding: 10px;
    background-color: #F1F0F0;
}
.chat-right {
    border-radius: 10px;
    padding: 10px;
    background-color: #40c979;
    color: white !important;
}
.form-message {
    display: block;
    width: 100%;
    position: relative;
}
.chat-message {
    width: 100%;
    position: relative;
    border-radius: 30px;
    border: 2px solid whitesmoke;
    padding: 10px;
    padding-right: 60px;
}
.btn-sent {
    border: none;
    border-radius: 50%;
    padding: 3px;
    width: 40px;
    height: 40px;
    background-color: #14b457;
    color:white;
    position: absolute;
    top: 3px;
    right: 5px;
    display: block;
    box-sizing: border-box;
}

footer {
    font-family: 'Segoe UI Regular', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(165, 165, 165);
}